.navbar-nav .nav-link {
    color: rgb(99, 87, 212) !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(3, 32, 3) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}